.cbWrap{
  background: #FFF;
  margin-top: 150px;
  /* height: 950px; */
  min-height: 950px;
  display: inline-block;
  margin-bottom: 150px;
  width: 100%;
}

button{
  background: transparent;
  font-size: 1.5rem;
  margin: 0;
  min-height: auto;
  padding: 0;
  width: 100px;
}

button:hover{
  color: #AECEAB;
}

button img{
  width: 50%;
}

button a{
  color: #770422;
  font-size: 1.5rem;
  margin: 0;
  width: auto;
}

.cbWrap h1{
  color: #2B2B2B;
  /* left: 0; */
  font-size: 5rem;
  margin-bottom: 70px;
  /* position: absolute; */
  /* right: 0; */
  text-align: center;
  width: 100%;
  top: 30px;
  /* z-index: 5; */
}

.cbWrap h1 .graphic{
  background: #770422;
  margin: 15px auto 0;
  height: 10px;
  width: 70px;
}

.cbWrap > h2{
  margin-top: 0;
}

/* .cbWrap section{
  min-height: 450px;
} */

.cbWrap section:nth-child(2), .cbWrap section:nth-child(3){
  background: #AECEAB;
  color: #FFF;
}

.cbWrap section:nth-child(2) h1{
  position: relative;
  top: auto;
}

.cbWrap .cbList .wrapper{
  background: #AECEAB;
  border-radius: 15px;
	font-family: "Lato", Arial, sans-serif;
	font-size: 1.1rem;
  height: auto;
	margin: 0 auto 20px;
  min-height: inherit;
	padding: 40px 3%;
  position: relative;
	width: 80%;
}

/* .cbWrap .cbList .wrapper p{
  color: #770422;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
} */

.cbWrap .cbList .wrapper article{
  align-items: center;
  background: #770422;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px 5% 3px;
  /* height: 300px; */
  /* left: 50%; */
  /* padding: 20px 0 3px 5%; */
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  /* width: 90%; */
}

.cbWrap .cbList .wrapper article .loadWrap{
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: auto;
  padding: 0;
}

.cbWrap .cbList .wrapper article .loadWrap p.loadMessage{
  color: #FFF;
  font-size: 4rem !important;
  padding: 3% 0;
  text-align: center;
}

/* .cbWrap .cbList .wrapper p.loadMessage, .cbWrap .cbList .wrapper article .loadWrap p.loadMessage{
  color: #FFF;
  font-size: 4rem !important;
  padding: 3% 0;
  text-align: center;
  width: 100%;
} */

.cbWrap .cbList .wrapper article section{
  background: transparent;
  padding-top: 0;
  width: auto;
}

.cbWrap .cbList .wrapper article section p{
  padding: 0 0 3rem;
  /* padding: 0 1% 3rem; */
  text-align: center;
}

.cbWrap .cbList .wrapper article section p a{
  font-size: 1.5rem;
  color: #AECEAB;
  margin: 0;
}

.cbWrap .cbList .wrapper article section p:nth-child(1) a{
  color: #FFF;
  font-size: 1.8rem;
}

.cbWrap .cbList .wrapper article section p a:hover{
  color: #AECEAB;
}

.link:hover{
  color: #770422;
}

.link::after{
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background-color: #770422;
  -webkit-transition: width .5s ease, background-color .5s ease;
  -moz-transition: width .5s ease, background-color .5s ease;
  -o-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.link:hover::after{
  background: #770422;
  width: 10%;
}

.cbWrap .cbList .wrapper article section p a:hover::after{
  background: #AECEAB;
  width: 90%;
}

.cbWrap .cbList .wrapper article section p:nth-child(1) a:hover::after{
  width: 30%;
}

.cbWrap .cbList .wrapper article section .editStyle, .cbWrap .cbList .wrapper article section .deleteStyle{
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cbWrap .cbList .wrapper article section .editStyle figure,
.cbWrap .cbList .wrapper article section .deleteStyle figure{
  margin: 0 10px 0 0;
  padding: 0;
}

.cbWrap .cbList .wrapper article section .editStyle p, .cbWrap .cbList .wrapper article section .editStyle span,
.cbWrap .cbList .wrapper article section .deleteStyle p{
  margin: 0;
  padding: 0;
}

.cbWrap .cbList .wrapper article section .editStyle p, .cbWrap .cbList .wrapper article section .editStyle span,
.cbWrap .cbList .wrapper article section .deleteStyle p, .cbWrap .cbList .wrapper article section .editStyle figure :nth-child(1),
.cbWrap .cbList .wrapper article section .deleteStyle figure :nth-child(1){
  font-size: 1.7rem;
}

.cbWrap .cbList .wrapper article section .editStyle{
  align-items: center;
  min-height: auto;
  padding-top: 0;
}

.cbWrap .cbList .wrapper article section .editStyle figure :nth-child(1){
  color: #AECEAB;
}

.cbWrap .cbList .wrapper article section button.deleteStyle{
  background: #AECEAB;
  border: 1px solid #D0D2D3;
  border-radius: 4px;
  color: #770422;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 10px auto 3rem;
  padding: 5px 0;
  text-align: center;
  width: 100px;
}

.cbWrap .cbList .wrapper article section button.deleteStyle:hover, .cbWrap .cbList .wrapper article section .deleteStyle:hover p{
  color: #AECEAB;
}

.cbWrap .cbList .wrapper article section button.deleteStyle:hover{
  background: #2B2B2B;
}

.cbWrap .cbList .wrapper article section .deleteStyle p{
  color: #770422;
}

.cbWrap .cbList .wrapper > h2{
  margin-top: 5px;
}

.cbWrap .cbList .wrapper > h3{
  font-size: 2rem;
  margin-bottom: 20px;
	text-align: center;
  text-transform: capitalize;
}

.cbWrap .cbList .wrapper form{
  background: #D0D2D3;
	border: 1px solid #000;
  display: block;
	margin: 0 auto 3%;
	padding: 2.2rem 2rem .5rem;
  position: relative;
  top: auto;
	text-align: left;
	width: 80%;
}

.cbWrap .cbList .wrapper form > fieldset label{
  color: #2B2B2B;
  float: none;
  font-size: 2rem;
  margin-bottom: 25px;
}

.cbWrap .cbList .wrapper form fieldset label:nth-child(1), .cbWrap .cbList .wrapper form fieldset label:nth-child(3){
  margin-bottom: 15px;
  width: 100%;
}

.cbWrap .cbList .wrapper form fieldset input{
  background: rgba(236, 236, 236, .5);
  font-size: 1.5rem;
  padding: .4rem;
  width: 100%;
  margin-bottom: .5% 0 2%;
  color: #404041;
  border-radius: 8px;
  border: 1px solid #000;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.cbWrap .cbList .wrapper form fieldset input[type='radio']{
  height: auto;
  margin-right: 15px;
  width: auto;
}

.cbWrap .cbList .wrapper form fieldset label.labelRadio{
  font-size: 1.5rem;
  margin-right: 15px;
  width: auto;
}

/* .cbWrap .cbList .wrapper form input.submit{
  font-size: 1.5rem;
	padding: 5px 4%;
	border-radius: 4px;
	background: #404041;
	color: #FFF;
	width: auto;
	border: 1px solid #D0D2D3;
	cursor: pointer;
	display: inline-block;
  text-align: center;
} */

/* .cbWrap .cbList .wrapper article p button{
  background: #AECEAB;
  border: 1px solid #D0D2D3;
  border-radius: 4px;
  color: #770422;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px 0 0;
  padding: 5px 0;
  text-align: center;
  width: 100px;
}

.cbWrap .cbList .wrapper article p button:hover{
  color: #770422;
} */

@media (max-width: 500px){
  .cbWrap h1{
    font-size: 3.5rem;
  }
}
