.cbWrap{
  background: #FFF;
  margin-top: 150px;
  /* height: 950px; */
  min-height: 950px;
  display: inline-block;
  margin-bottom: 150px;
  width: 100%;
}

.cbWrap h1{
  color: #2B2B2B;
  font-size: 5rem;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  top: 30px;
}

.cbWrap h1 .graphic{
  background: #770422;
  margin: 15px auto 0;
  height: 10px;
  width: 70px;
}

.cbWrap > h2{
  margin-top: 0;
}

.cbWrap section:nth-child(2), .cbWrap section:nth-child(3){
  background: #AECEAB;
  color: #FFF;
}

.cbWrap .cbList section{
  color: #000;
  display: inline-block;
  height: auto;
  margin-bottom: 50px;
  padding-top: 0;
}

.cbWrap .cbList section h2 a{
  color: #000;
}

.cbWrap .cbList section > article{
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px 2%;
  width: 80%;
}

.cbWrap .cbList > section > article p.loadMessage{
  color: #2B2B2B;
  font-size: 4rem;
  padding: 3% 0;
  text-align: center;
  width: 100%;
}



.cbWrap .cbList > section > article .comicSec .comicWrap{
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 0 2%;
  position: relative;
  width: auto;
}

.cbWrap .cbList > section > article .comicSec .comicWrap .comicImgWrap{
  background: #AECEAB;
  border-radius: 15px;
  height: 300px;
  left: 5%;
  margin-bottom: 0;
  padding: 30px;
  position: absolute;
  top: -27px;
  width: 215px;
  z-index: 10;
}

.cbWrap .cbList > section > article .comicSec .comicWrap .comicImgWrap img{
  margin: auto;
  width: 100%;
}

.cbWrap .cbList > section > article .comicSec .comicWrap .paraWrap{
  background: #770422;
  border-radius: 15px;
  display: inline-block;
  font-size: 1.6rem;
  height: 250px;
  line-height: 40px;
  margin-bottom: 30px;
  overflow: scroll;
  padding: 16px 1% 0 55%;
  width: 100%;
}

.cbWrap .cbList > section > article .comicSec .comicWrap .paraWrap p{
  font-size: 1.6rem;
  line-height: initial;
  margin-bottom: 1.2rem;
}

.cbWrap .cbList > section > article .comicSec .comicWrap .paraWrap p > span{
  font-size: 1.7rem;
  font-weight: bold;
  margin-right: 2%;
}

.cbWrap .cbList > section > article .comicSec .comicWrap .paraWrap p a{
  color: #AECEAB;
  font-size: 1.5rem;
}

.cbWrap .cbList > section > article .comicSec .comicWrap .paraWrap p a:hover{
  color: #AECEAB;
}

.cbWrap .cbList > section > article .comicSec .comicWrap .paraWrap p button{
  color: #AECEAB;
}

.cbWrap .cbList > h3{
  font-size: 2rem;
  margin-bottom: 20px;
	text-align: center;
  text-transform: capitalize;
}
