//VARIABLES
//Colors
$colorWhite: #FFF;
$colorCharcoal: #2B2B2B;
$colorGray: #D0D2D3;
$colorDarkGray: #404041;
$colorGreen: #AECEAB;
$colorBurgandy: #770422;
$colorRed: #FF0000;
$colorBlack: #000;

//Fonts
$fontFamily: "Lato", Arial, sans-serif;
$fontFamily2: "Source Sans Pro", Arial, sans-serif;
$fontSize: 16px;
$fontWeight: normal;
$fontWeightBold: bold;
